.player{
    width: 100%;
    height: 90px;
    background-color: rgba(21, 21, 25, 0.5);
    color: #FCFCFC;
    font-family: "Inter";
    font-size: 14px;
    font-weight: normal;
}
.player-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 10px;
    gap:20px
}
.player-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:18px;
}
@media (max-width: 505px) { 
    .player-btns{
        gap:7px;
    }
    .player-controls{

        gap:10px
    }
}
.player-btn{
    background-color: transparent;
    border: none;
}
.switch-btns{
    width: 18%;
}
.buttonNext{
    width: 17px;
    height: 22px;
    background-image: url(./PlayerImages/ButtonNext.svg);
}
.buttonPrevious{
    width: 17px;
    height: 22px;
    background-image: url(./PlayerImages/ButtonPrevious.svg);
}
.buttonPlay{
    width: 20px;
    height: 27px;
    background-image: url(./PlayerImages/ButtonPlay.svg);
}
.buttonStop{
    width: 20px;
    height: 20px;
    background-image: url(./PlayerImages/ButtonStop.svg);
}
.buttonRepeat{
    width: 15px;
    height: 15px;
    background-image: url(./PlayerImages/repeat-btn.svg);
}
.buttonMix{
    width: 15px;
    height: 15px;
    background-image: url(./PlayerImages/mix-btn.svg);
}
.buttonLike{
    width: 15px;
    height: 15px;
    background-image: url(./PlayerImages/like-btn.svg);
}
.player-track{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:20px
}
.track-control{
    width:100%;
}
.track-img{
    width: "70px";
    height: "74px";
    background-color: "#FCFCFC"; 
}
@media (max-width: 600px) { 
    .track-img{
        display: none;
    }
}
.track-info{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.track-auth{
    color: #FCFCFC;
    font-size: 13px;
    opacity: 0.65;
    margin-bottom: 5px;
}
.music-track{
    width: 100%;
    margin: 0;
}
input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #4C4E54;
    height: 4px;
}



input[type='range']::-webkit-slider-thumb {
    width: 0px;
    -webkit-appearance: none;
    height: 10px;
    cursor:pointer;
    box-shadow: -500px 0 0 500px #FCFCFC;
}



.track-time{
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    color: #D9D9D9;
}
.player-volume{
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
