.footer {
  height: 90px;
  background-color: rgba(19, 19, 22, 0.8);
  z-index: 1;
  color: #f5f5f5;
  font-family: PP-Hatton;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}
.footer-logo {
  display: flex;
  font-size: 24px;
  align-items: center;
}
.footer-logo-img {
  margin-right: 10px;
  width: 75px;
}
.footer-inc {
  font-size: 14px;
}

.empty-footer {
  height: 90px;
}
.footer a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}
.footer a:hover {
  color: rgba(255, 197, 84, 0.88);
}
.footer a:visited {
  text-decoration: none;
  color: white;
}
