@import url('https://fonts.googleapis.com/css2?family=Inter&family=Libre+Baskerville:wght@400;700&display=swap');

@font-face {
  font-family: 'PP-Hatton';
  src: local('PP-Hatton'),
    url('./fonts/PP-Hatton/PP-Hatton-Medium-500.otf') format('truetype');
  font-weight: 500;
}