* {
    margin: 0;
}

html {
    height: 100vh;
}

body {
    background: #1E1E23;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#root {
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
}

.circle {
    filter: blur(20px);
    position: absolute;
    overflow: auto;
}

.circle#first {
    width: 3346px;
    height: 2251px;
    left: -1793px;
    top: -565px;

    background: radial-gradient(29.56% 29.66% at 49.97% 47.03%, #F76205 0%, rgba(247, 144, 5, 0) 100%);
}

.circle#second {
    width: 1410px;
    height: 1442px;
    left: 848px;
    top: 384px;

    background: radial-gradient(29.56% 29.66% at 49.97% 47.03%, #F77905 0%, rgba(247, 144, 5, 0) 100%);
}